*.egg-info/
__pycache__/
vision/
PennFudan*
surgery*
mdb_user_study
mdb_user_study_supplemental
cityscapes*
databases/
.DS_Store
.ipynb_checkpoints
*.tar.gz
*.whl
exercise
wilds_data
*.pkl
*.lprof
pipy_token
experiments/
publish_new_docs.sh